.grid {
    grid-template-rows: repeat(2, var(--size));
    grid-template-columns: repeat(4, var(--size));
    justify-content: center;
}

.grid>span {
    opacity: 0.1;
}

.shape-O .O,
.shape-I .I,
.shape-T .T,
.shape-J .J,
.shape-L .L,
.shape-S .S,
.shape-Z .Z {
    opacity: 1;
}