:host {
    display: flex;
    justify-content: space-between;
    width: var(--vs-width);
    margin: 0 auto;
    min-width: 380px;
}

.gap {
    height: 560px;
    justify-content: space-between;
    align-items: center;
}