h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}

button {
    position: relative;
    min-width: 70px;
    background-color: var(--bg);
    color: var(--color);
    border-radius: 6px;
    margin: 3em 5px 0;
}

button::after {
    content: ' ' attr(data-key);
    position: absolute;
    color: black;
    left: 50%;
    transform: translate(-50%, -100%);
    top: -3px;
}

.start::before {
    content: '开始';
}

.start.pause::before {
    content: '暂停';
}

.start.continue::before {
    content: '继续';
}

.start.gameover::before {
    content: '再来一局';
}

.gap {
    display: flex;
    flex-direction: column;
}


/* 单人模式 */
.single {
    width: 410px;
    margin: auto;
    border-radius: 30px;
    border: 3px solid currentColor;
    padding: 30px 20px;
}

.single .wrap {
    display: flex;
    gap: 10px;
}

.single .gap {
    justify-content: end;
    height: 510px;
}

/* 对战模式 */
.vs .wrap {
    display: flex;
    justify-content: space-between;
    width: var(--vs-width);
    margin: 0 auto;
}

.vs .gap {
    height: 560px;
    justify-content: space-between;
    align-items: center;
}