/* 双人模式 */
.diff {
    position: relative;
    color: green;
}

.diff::before {
    content: '+';
    position: absolute;
    transform: translateX(-100%);
}

.diff.less {
    color: red;
}

.diff.less::before {
    content: '-';
}

/* 单人模式 */
.max::before {
    content: '最高分 ';
}

.cur::before {
    content: '当前分 ';
}