ul {
    display: flex;
    justify-content: center;
    gap: var(--gap);
    padding: 5px 0;
    list-style: none;
    margin: 0;
}

ul>li {
    width: var(--win-size);
    height: var(--win-size);
    border-radius: 50%;
    background-color: currentColor;
    opacity: 0.2;
}

ul>li.s {
    opacity: 1;
}