h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}

button {
    position: relative;
    min-width: 70px;
    background-color: var(--bg);
    color: var(--color);
    border-radius: 6px;
    margin: 3em 5px 0;
}

button::after {
    content: ' ' attr(data-key);
    position: absolute;
    color: black;
    left: 50%;
    transform: translate(-50%, -100%);
    top: -3px;
}

.start::before {
    content: '开始';
}

.start.pause::before {
    content: '暂停';
}

.start.continue::before {
    content: '继续';
}

.start.gameover::before {
    content: '再来一局';
}

.gap {
    display: flex;
    flex-direction: column;
}